

<div class="row">
  <div class="col col-md-8">
    <table class="table table-hover"">
     <tr>
       <th>Name</th>
       <th>Price</th>
       <th>Description</th>
     </tr>
     <% @products.each do |product|%>
     <tr>
       <td><%= product.name %></td>
       <td><%= product.price %></td>
       <td><%= product.description %></td>
       <td><%=link_to 'show', product_path(product.id),class: 'btn btn-success' %></td>
       <td><%=link_to 'edit', edit_product_path(product.id),class: 'btn btn-warning' %></td>
       <td><%=link_to 'delete', product_path(product.id), method: :delete ,class: 'btn btn-danger'%></td>
       <td><%=link_to 'favourite', set_favourite_path(product.id),method: :patch,class: 'btn btn-warning'%></td>

      </tr>
      <% end %>
    </table>

  </div>
  <div class="col col-md-4">
    <%= form_with(model: @product, local:true) do |form| %>
      <%= form.label :name%>
      <%= form.text_field :name, class:'form-control'%> <br>
      <%= form.label :price%>
      <%= form.number_field :price, class:'form-control' %><br>
      <%= form.label :description %>
      <%= form.text_area :description, class:'form-control' %><br>
      <%= form.label :image %>
      <%= form.text_field :image, class:'form-control' %><br>
      <%= form.submit 'Enviar', class: 'btn btn-success'%>
    <% end %>
  </div>

</div>
